.header {
  display: flex;
  width: 100%;
  min-width: 1024px;
  justify-content: center;
}
.header__link {
}
.header__img {
  width: 185px;
  height: 125px;
}
.header__block {
  display: flex;
}
.header__block-line-darck {
  height: 40px;
  width: 1px;
  border: solid 1px rgb(78, 74, 74);
}
.header__block-link {
}
.header__block-content {
}
.header__line {
}
.header__content {
}
.header__lang-ru {
}
.header__lang-ru-content {
}
.header__lang-slash {
}
.header__lang-en {
}