.main {

}
.main__mailing-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}
.main__mailing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  height: 650px;
  background-color: rgba(11, 11, 185, 0.836);
  border: 1px solid black;
}
.main__mailing-preview {
  margin-bottom: 100px;
  text-decoration: underline;
  user-select: none;
}
.main__mailing-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__lable-mailing {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  user-select: none;
}
.main__mailing-input {
  margin-bottom: 20px;
}
.main__button-mailing {
  margin-top: 50px;
  width: 150px;
  height: 30px;
  border: none;
  background-color: white;
  &:hover {
    background-color: rgb(202, 204, 206);
    cursor: pointer;
  }
}