////////////////////
/// News-chies(главная)
/// ////////////////

.press__wrapper {

}
.press {
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  background-color: rgb(227, 25, 33);

}
.press__img {
  width: 210px;
  height: 130px;
}
.press__title-block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.press__title {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.press__text {
  font-size: 15px;
  color: white;
}
.press__filter {
  display: flex;
  align-items: center;
  background-color: rgba(170, 170, 170, 0.247);
  height: 39px;
}
.press__filter-month {
  margin: 50px;
}
.press__filter-year {
  margin: 50px;
}
.press__filter-input-year {
  margin: 10px;
  width: 100px;
}
.press__filter-input-month {
  margin: 10px;
  width: 100px;
}
.press__filter-button {
  border: none;
  margin: 10px;
  &:hover {
    transition: 0.5s;
    background-color: rgba(78, 78, 78, 0.822);
    border-radius: 15%;
    color: white;
  }
}
.press__content-wrapper {
  display: block;
}
.press__content {
  position: absolute;
  user-select: none;
}
.press__content-list {
  list-style-type: none;
  display: flex;
}
.press__content-element {
  width: 500px;
}
.press__date {
  margin: 10px;
}
.press__content-link {
}
.press__content-title {
}
.press__center-smi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.press__center-smi-navigation {

}
.press__center-smi-navigation-list {
  list-style-type: none;
  padding: 0;
}
.press__center-smi-navigation-link{
  &:hover {
    transition: 0.3s;
    color: red;
  }
}
.press__center-smi-navigation-element {
  margin-bottom: 20px;
}
.precc__advertising {
  display: flex;
  flex-direction: column;
}
.precc__advertising-link {
  margin-bottom: 5px;
}
.precc__advertising-width {
  width: 250px;
}
.precc__advertising-img {
  width: 200px;
  height: 200px;
}
.precc__advertising-cotent {
  color: rgba(71, 71, 71, 0.719);
}
.precc__advertising-content {
}
.precc__advertising-content-in {
}
.precc__advertising-text-width {
  width: 220px;
}
.precc__advertising-text-color {
  color: blue;
}
.press__content-weight {
  font-weight: 600;
}

////////////////////////////////
/// news-list
/// ///////////////////////////

.press__element {
  width: 800px;
  line-height: 20px;
  list-style-type: none;
  border: 1px solid white;
  transition: .2s;
  &:hover {
    border: 1px solid black;
    cursor: pointer;
    transition: .2s;
  }
}

.press__content-list {
  font-size: 18px;
  display: flex;
  list-style-type: none;
}

.press__date-element-wrapper {
  display: flex;
  align-items: flex-start;
}


.press__date-element {
  font-weight: 600;
  margin: 25px 0px 0 10px;
}

.press__content-element-wrapper {

}

.press__content-element {
  margin-left: 10px;
}

.press__content-element-id {
  visibility: hidden;
}

.press__element-not-found {
  font-size: 25px;
  font-weight: 500;
  margin: 50px 0 0 50px;
}

////////////////////////////////
/// news-popup
/// ///////////////////////////

.press__popup {
  z-index: 99;
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: white;
}

.press__date-popup {
  display: inherit;
  margin-bottom: 10px;
}

.press__title-popup {
  line-height: 20px;
}

.press__content-popup {
  line-height: 18px;
}

.press__content-low-popup {
  font-weight: 600;
}

.press__image-popup {

}

.press__button-close-popup {
  width: 150px;
  border: 1px solid black;
  transition: .5s;
  &:hover {
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    transition: .3s;
  }
}