////////////////////
/// News-chies(главная)
/// ////////////////

.press__wrapper {

}
.press {
  display: flex;
  align-items: center;
  width: 100%;
  height: 130px;
  background-color: rgb(227, 25, 33);

}
.press__img {
  width: 210px;
  height: 130px;
}
.press__title-block {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.press__title {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.press__text {
  font-size: 15px;
  color: white;
}
.press__filter {
  display: flex;
  align-items: center;
  background-color: rgba(170, 170, 170, 0.247);
  height: 39px;
}
.press__filter-month {
  margin: 50px;
}
.press__filter-year {
  margin: 50px;
}
.press__filter-input-year {
  margin: 10px;
  width: 100px;
}
.press__filter-input-month {
  margin: 10px;
  width: 100px;
}
.press__filter-button {
  border: none;
  margin: 10px;
  &:hover {
    transition: 0.5s;
    background-color: rgba(78, 78, 78, 0.822);
    border-radius: 15%;
    color: white;
  }
}
.press__content-wrapper {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
.press__content {
}
.press__content-list {
  list-style-type: none;
  display: flex;
}
.press__content-element {
  width: 500px;
}
.press__date {
  margin: 10px;
}
.press__content-link {
}
.press__content-title {
}
.press__center-smi {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.press__center-smi-navigation {

}
.press__center-smi-navigation-list {
  list-style-type: none;
  padding: 0;
}
.press__center-smi-navigation-link{
  &:hover {
    transition: 0.3s;
    color: red;
  }
}
.press__center-smi-navigation-element {
  margin-bottom: 20px;
}
.precc__advertising {
  display: flex;
  flex-direction: column;
}
.precc__advertising-link {
  margin-bottom: 5px;
}
.precc__advertising-width {
  width: 250px;
}
.precc__advertising-img {
  width: 200px;
  height: 200px;
}
.precc__advertising-cotent {
  color: rgba(71, 71, 71, 0.719);
}
.precc__advertising-content {
}
.precc__advertising-content-in {
}
.precc__advertising-text-width {
  width: 220px;
}
.precc__advertising-text-color {
  color: blue;
}
.press__content-weight {
  font-weight: 600;
}

////////////////////////////////
/// photo-arhive
/// ///////////////////////////



///////////////////////////////
/// publications-SMI
/// ///////////////////////////



///////////////////////////////
/// gos-News
/// ///////////////////////////