.roundDate {
}
.roundDate__wrapper {
  display: flex;
  background-color: red;
  width: 100%;
  height: 130px;
}
.roundDate__link {
}
.roundDate__text {
  margin: 20px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.roundDate__title-img {
  width: 900px;
  height: 130px;
}
.roundDate__img {
  width: 200px;
  height: 130px;
}
.roundDate__wrapper-info {
  display: flex;
  flex-direction: column;
}
.roundDate__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roundDate__element {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 800px;
}
.roundDate__block {
  display: flex;
}
.roundDate__lick {
  width: 500px;
  margin-left: 10px;
}
.roundDate__title {
}
.roundDate__content {
}

.roundDate__text-correction-color {
  font-weight: 600;
  color: black;
}