.roundDate {
}
.roundDate__wrapper {
  display: flex;
  background-color: red;
  width: 100%;
  height: 130px;
}
.roundDate__link {
}
.roundDate__text {
  font-size: 22px;
  font-weight: 600;
  color: white;
}
.roundDate__img {
}
.roundDate__wrapper-info {
  display: flex;
  flex-direction: column;
}
.roundDate__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roundDate__element {
  width: 800px;
}
.roundDate__block {
}
.roundDate__lick {
}
.roundDate__title {
}
.roundDate__content {
}

.roundDate__text-correction-color {
  font-weight: 600;
  color: black;
}