.search__content-wrapper {
  display: flex;
  flex-direction: column;
}
.search__content {
}
.search__form {
  margin: 10px;
}
.search__input {
}
.search__button {
  width: 70px;
  height: 24px;
  color: white;
  border: none;
  background-color: rgba(131, 89, 42, 0.856);
  border-radius: 5%;
  &:hover {
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.856);
    background-color: rgba(131, 90, 42, 0.411);
    border: solid 1px black;
    border-radius: 10%;
  }
}
.search__search-content {
}