.socialResponsibility__content-wrapper {
}
.socialResponsibility__title-block {
  background-color: red;
  display: flex;
  align-items: center;
  width: 100%;
}
.socialResponsibility__img-down-header {
}
.socialResponsibility__content-down-header {
}
.socialResponsibility__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.socialResponsibility {
  display: flex;
  flex-direction: column;
}
.socialResponsibility__title {
}
.socialResponsibility__text {
  margin: 3px;
}
.socialResponsibility__list {
}
.socialResponsibility__element {
}
.socialResponsibility__head {
}
.socialResponsibility__links-block {
  display: flex;
  flex-direction: column;
}
.socialResponsibility__img {
  margin: 20px 0 20px 40px;
  width: 150px;
  height: 200px;
}